/* Html */
html {
	background-color: #181818;
	font-family: monospace;
}

/* Style applied to canvas */
.mge-main canvas#mge-can {
	height: 200vh;
}

/* Style applied to canvas when the example section is shown */
.mge-main canvas.on-example-section {
	filter: blur(5px);
}

/* Style applied to example section image */
.mge-overlay section#example img {
	position: absolute;
	width: 64px;
	left: 50%;
	top: 50%;
	border-radius: 20%;
	transform: translate(-50%, -50%);
}

/* Fps span shown over canvas */
span#fps {
	position: absolute;
	padding: 5vh 6vh;
	font-size: 6vh;
	font-family: monospace;
	user-select: none;
}

/* Button shown over canvas */
a.button {
	position: absolute;
	background-color: #fff2;
	left: 50vw;
	top: 80vh;
	transform: translateX(-50%);
	padding: 2vh 3vh;
	font-size: 8vh;
	font-family: monospace;
	border-radius: 2vh;
	outline: none;
	user-select: none;
}

/* Opaque sections's background */
.mge-overlay section.opaque {
	background-color: #181818;
}
