* {
	font-family: sans-serif;
}

mge-section {
	--blue: #8888ff;
	--black: #202124;
	background-color: var(--blue);
	color: var(--black);
}

a.btn {
	margin: 20px 0px;
	padding: 10px;
	background-color: var(--black);
	border: 2px solid var(--blue);
	color: var(--blue);
	border-radius: 10px;
	user-select: none;
}

a.btn:hover {
	background-color: #303236;
}

mge-section#blank a.btn {
	position: fixed;
	bottom: 0px;
	left: 50%;
	transform: translateX(-50%);
}

mge-section[pausing] p {
	text-align: center;
	margin-top: 50vh;
	transform: translateY(-50%);
}

mge-section#example {
	background-color: transparent;
	color: var(--blue);
}

mge-section#example {
	display: flex;
	height: 100%;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

mge-section#example img {
	width: 64px;
	border-radius: 64px;
	margin: 10px;
	border: 2px solid var(--blue);
	user-select: none;
}
